
.tarjeta{
    color:  rgb(0, 85, 41);
    width: 80%;
    height: 100%;
    border: solid 2px;
    border-color:  rgb(0, 85, 41) ;
    border-radius: 10px;
    background-color: rgb(255, 228, 251);
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: 0 10px 10px 5px rgb(255, 90, 200);

font-size: larger;
    text-shadow: 2px 2px 2px rgb(255, 90, 200);
}

/*all: initial; 
all: unset;*/
/*.tarjeta :hover { 
    box-shadow: 0 1px rgb(58, 39, 0);
    transform: translateY(2px);
}
.a{

}

.a h1{
    box-shadow: none;
    transform: none
} 

.a h2 {
    box-shadow: none;
    transform: none;
}
.a h1 :hover{
    box-shadow: none;
    transform: none
} 

.a h2 :hover{
    box-shadow: none;
    transform: none;
}*/